.cards .card {
    display: inline-block;
    overflow: hidden;
    width: 25%;

    &.x-selected,
    &.x-hovered {
        background: #f2f2f2;
    }

    .cost {
        display: none;
    }

    .title {
        font-weight: bold;
        text-align: center;
        display: block;
    }
}